name: Deploy CRM via Docker Compose to EC2

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Setup Java 17
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3. Build Spring Boot JAR
      - name: Build JAR
        run: mvn clean package -DskipTests

      # 4. Build Docker Image
      - name: Build Docker Image
        run: |
         echo "Building Docker Image..."
         docker build -t crm-backend .
         echo "Listing images:"
         docker images


      # 5. Save Docker Image to tar
      - name: Save Docker Image
        run: docker save crm-backend -o crm-backend.tar

      # 6. Debug - Check files
      - name: Debug Files
        run: |
          echo "Listing workspace:"
          ls -la

          echo "Checking crm-backend.tar:"
          if [ -f "crm-backend.tar" ]; then echo "OK"; else echo "MISSING"; exit 1; fi

          echo "Checking docker-compose.yml:"
          if [ -f "docker-compose.yml" ]; then echo "OK"; else echo "MISSING"; exit 1; fi

      # 7. Upload files to EC2
      - name: Upload files to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          source: |
            crm-backend.tar
            docker-compose.yml
          target: /home/ubuntu/crm/

      # 8. Deploy to EC2 with docker-compose
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          script: |
            cd /home/ubuntu/crm
            sudo docker load -i crm-backend.tar
            sudo docker compose down || true
            sudo docker compose up -d
            echo "Deployment done!"
